---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Colors
$background: #556262;
$highlight: #F6E9CA;
$standout: #D16943;
$dark_shadow: #473935;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "bootstrap"
;

body {
  background-color: $background;
}

// Menu
.menu-container {

  background-color: $standout;
  color: $highlight;

  .menu {

    .title {
      font-size: 26px;
      line-height: 56px;
      letter-spacing: -1px;
      margin-bottom: 0;
      float: left;
      color: $highlight;
    }

    .link {
      font-weight: bold;
      color: $dark_shadow;
    }

  }

}

// Welcome Message
.welcome-message-container {

  background-color: $highlight;

  .welcome-message {

    padding: 50px 0;

    .name {
      font-size: 24px;
      font-weight: bold;
      color: $standout;
    }

    .caption {
      font-size: 16px;
      color: $background;
    }

  }

}

// Section Header
.section-header-container {

  background-color: $background;
  color: $highlight;

  .section-header {

    padding: 60px 0;
    font-size: 16px;

    .links {

      margin-top: 20px;

      .link {
        margin-right: 20px;
        font-weight: bold;
      }

    }

  }

}

// Content
.content-container {

  background-color: $highlight;

  .content {
    padding: 60px 0;
    color: $dark_shadow;
  }

  .content-heading {
    font-size: 18px;
    color: $standout;
    margin-bottom: 60px;
  }

}

// Footer
.footer-container {

  .footer {
    padding: 40px 0;
  }

}
