<div class = "menu-container">
  <div class = "container">
    <div class = "row">
      <div class = "col-md-6 col-md-offset-3">
        <header class="menu">

          <!-- <a class="title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
          <a class="title" href="{{ site.baseurl }}/">R E S U M E</a>

          <nav class="site-nav">
            <div class="trigger">
              {% for page in site.pages %}
                {% if page.title %}
                  <a class="link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                {% endif %}
              {% endfor %}
            </div>
          </nav>

        </header>
      </div>
    </div>
  </div>
</div>
