<div class = "section-header-container">
  <div class = "container">
    <div class = "row">
      <div class = "col-md-6 col-md-offset-3">
        <div class = "section-header">
          <p>
            I come here to vent the annoyances and frustrations that Software(mostly) and many, many other things, produce it in me. 
          </p>
          <p>
            Nonsense, lack of facts, pure delicious rage, and swearing may(should) lie ahead, so aproach with the utmost care.
          </p>
          <p>
            Ranting like is hat!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

